.hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: url('../img/main_bg.png');
  background-size: cover;
  &__video-wrapper {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @media screen and (max-width: 1440px) {
      left: -20%;
    }
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
  &__video {
    height: 100%;
    mask: url('../img/deer.png');
    mask-position: left center;
    mask-repeat: no-repeat;
    mask-size: 45%;
  }
  &__content {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .heading-hero {
    display: flex;
    flex-direction: column;
    width: max-content;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10%;
    font-family: BebasNeueBook, sans-serif;
    &__upheader {
      font-size: 34px;
      line-height: 34px;
      margin: 0;
    }
    &__header {
      font-size: 120px;
      margin: 0 -0.5em 0 0;
      color: #5a8a1d;
      letter-spacing: 0.5em;
      text-align: right;
      &::first-letter {
        font-size: 4em;
        line-height: normal;
      }
    }
    &__subheader {
      font-size: 51px;
      text-align: right;
      margin-top: -1.5em;
    }
  }
}