.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url('../img/main_bg.png');
  background-size: cover;
  &__video-wrapper {
    //display: none;
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 120%;
    overflow: hidden;
    @media screen and (max-width: 1440px) {
      left: -20%;
    }
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
  &__video {
    height: 100%;
    mask: url('../img/deer.png');
    mask-position: left center;
    mask-repeat: no-repeat;
    mask-size: 45%;
  }
  &__content {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .heading-hero {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 15%;
    width: 850px;
    margin-right: 9em;
    font-family: BebasNeueBook, sans-serif;
    &__upheader {
      font-size: 2em;
      line-height: 34px;
      margin: 0 0 0.3em 2.8em;
    }
    &__header {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      gap: 1em;
    }
    &__subheader {
      font-size: 2.8em;
      text-align: right;
      margin-top: 0.5em;
    }
  }
  .price-hero {
    position: absolute;
    right: 25%;
    bottom: 5%;
    width: 380px;
    padding-left: 2.5em;
    &__count {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 167px;
      color: #c7af8a;
      font-weight: 500;
      font-size: 2.5em;
      margin-top: 0.25em;
      & span {
        font-size: 0.35em;
        &:first-child {
          align-self: flex-start;
        }
        &:last-child {
          align-self: flex-end;
        }
      }
    }
    &__description {
      line-height: 1.5em;
      margin-bottom: 0;
    }
    &::before {
      position: absolute;
      height: auto;
      top: 0;
      left: 0;
      content: url('../img/vertical_border.png');
    }
  }
}