.order {
  position: relative;
  background-color: #fff;
  &__info {
    position: relative;
    margin-top: 60px;
    margin-left: auto;
    width: 74%;
    padding: 2px 0;
    border-top: 2px solid #c7af8a;
    border-bottom: 2px solid #c7af8a;
    &::before, &::after {
      position: absolute;
      content: "";
      left: 35%;
      width: 110px;
      height: 44px;
    }
    &::before {
      top: -40px;
      background: url("../img/order-art.png");
      @media screen and (max-width: 1919px) {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &::after {
      bottom: -40px;
      background: url("../img/order-art.png");
      transform: rotate(180deg);
      @media screen and (max-width: 1919px) {
        left: 50%;
        transform: translateX(-50%) rotate(180deg);
      }
    }
    @media screen and (max-width: 1919px) {
      width: 90%;
    }
    @media screen and (max-width: 1560px) {
      width: 100%;
    }
  }
  &__wrapper {
    position: relative;
    width: 100%;
    min-height: 64px;
    height: auto;
    background-color: #c7af8a;
  }
  &__content {
    position: absolute;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 9px 50px;
    gap: 25px;
    row-gap: 0.5em;
    z-index: 20;
    white-space: nowrap;
    @media screen and (max-width: 1919px) {
      justify-content: center;
    }
    @media screen and (max-width: 1560px) {
      position: relative;
      padding: 9px 15px;
    }
  }
  &__heading {
    margin: 0;
    align-self: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: BebasNeueBook, sans-serif;
  }
  &__inputs {
    display: flex;
    gap: 25px;
    row-gap: 0.5em;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    @media screen and (max-width: 450px) {
      flex-direction: column;
    }
  }
  &__entry-date,
  &__left-date,
  &__select,
  &__btn {
    height: 46px;
    @media screen and (max-width: 450px) {
      width: 160px;
    }
  }
  &__entry-date,
  &__left-date {
    display: flex;
    width: 160px;
    border-radius: 3px;
    background-color: #fff;
    padding: 10px 15px;
    gap: 10px;
  }
  &__btn {
    background-color: #fbd407;
    padding: 0 30px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
}

