@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat.ttf') format('truetype');
}
@font-face {
  font-family: BebasNeueBook;
  src: url('../fonts/bebasneuebook.ttf') format('truetype');
}
@font-face {
  font-family: BebasNeueRegular;
  src: url('../fonts/bebasneueregular.ttf') format('truetype');
}