@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat.woff2') format('truetype');
}
@font-face {
  font-family: BebasNeueBook;
  src: url('../fonts/bebasneuebook.woff2') format('truetype');
}
@font-face {
  font-family: BebasNeueRegular;
  src: url('../fonts/bebasneueregular.woff2') format('truetype');
}