html {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-white);
  scroll-behavior: smooth;
  position: relative;
  max-width: 100vw;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: BebasNeueRegular, sans-serif;
}

.subheader {
  font-family: BebasNeueBook, sans-serif;
}
