:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gold: #c7af8a;
  --color-yellow: #fbd407;
  --color-lightgray: #aaa;
  --color-main-black: #1d1d1b;
  --color-main-black-lighten: #444;
}
