@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";
@import "blocks/hamburger-menu";
@import "blocks/header";
@import "blocks/hero";
@import "blocks/order";
@import "blocks/datepicker";
@import "blocks/select";

body {
  position: relative;
  font-size: 18px;
  background-color: #fff;
  @media screen and (max-width: 1023px) {
    font-size: 16px;
  }
  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}
